---
import HeaderMobile from './HeaderMobile.astro';
import HeaderDesktop from './HeaderDesktop.astro';
---

<header
  class="bg-background text-text-primary dark:bg-dark-background dark:text-dark-text-primary py-4 transition-colors duration-400 shadow-sm"
>
  <div class="container mx-auto px-4">
    <!-- Mobile Header -->
    <div class="md:hidden">
      <HeaderMobile />
    </div>

    <!-- Desktop Header -->
    <div class="hidden md:block">
      <HeaderDesktop />
    </div>
  </div>
</header>
