---
import logo from '../../assets/logo.svg';
import ThemeToggle from '../ThemeToggle';

const currentPath = Astro.url.pathname;
---

<div class="flex items-center justify-between">
  <a href="/">
    <img src={logo.src} alt="Logo de Volt Solar Energy" class="h-10" />
  </a>

  <div class="flex items-center gap-6">
    <nav>
      <ul class="flex gap-2">
        <li>
          <a
            href="/"
            class={`px-4 py-2 rounded-md transition-colors duration-400 font-medium whitespace-nowrap ${currentPath === '/' ? 'bg-yellow-light text-white dark:bg-dark-yellow-light' : 'hover:bg-yellow-light/20 dark:hover:bg-dark-yellow-light/20'}`}
            >Sobre Nosotros</a
          >
        </li>
        <li>
          <a
            href="/services"
            class={`px-4 py-2 rounded-md transition-colors duration-400 font-medium whitespace-nowrap ${currentPath.startsWith('/services') ? 'bg-yellow-light text-white dark:bg-dark-yellow-light' : 'hover:bg-yellow-light/20 dark:hover:bg-dark-yellow-light/20'}`}
            >Servicios</a
          >
        </li>
        <li>
          <a
            href="/contact"
            class={`px-4 py-2 rounded-md transition-colors duration-400 font-medium whitespace-nowrap ${currentPath.startsWith('/contact') ? 'bg-yellow-light text-white dark:bg-dark-yellow-light' : 'hover:bg-yellow-light/20 dark:hover:bg-dark-yellow-light/20'}`}
            >Contacto</a
          >
        </li>
      </ul>
    </nav>
    <a
      href="/cotizar"
      class="ml-4 px-4 py-2 bg-green-dark hover:bg-green-light dark:bg-dark-green-light dark:hover:bg-dark-green-dark text-white rounded-md font-semibold transition-colors duration-300"
      >Cotiza ahora</a
    >
    <ThemeToggle client:only="react" />
  </div>
</div>
