---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import FeatureCard from '../components/FeatureCard.astro';
import mission from '../assets/icons/mission.svg';
import vision from '../assets/icons/vision.svg';
---

<Layout title="Sobre nosotros">
  <Hero
    title="Quiénes somos"
    subtitle="Soluciones solares que transforman tu mundo."
    image="../../src/assets/img_2.jpg"
    cta={{ label: 'Cotiza ahora', href: '/cotizar' }}
  />
  <div class="grid md:grid-cols-2 gap-6 container mx-auto py-12 px-4">
    <FeatureCard
      tag="Subtitulo"
      title="Titulo"
      description="lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
      image={vision.src}
    />
    <FeatureCard
      tag="Subtitulo"
      title="Titulo"
      description="lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
      image={mission.src}
    />
  </div>
</Layout>
