---
export const prerender = true;
---

<html lang="es">
  <head>
    <meta http-equiv="refresh" content="0;url=/es" />
    <script is:inline>
      const savedLang = localStorage.getItem('preferredLang');
      if (savedLang === 'en' || savedLang === 'es') {
        window.location.replace('/' + savedLang);
      } else {
        const browserLang = navigator.language?.split('-')[0];
        const redirect = ['es', 'en'].includes(browserLang) ? browserLang : 'es';
        window.location.replace('/' + redirect);
      }
    </script>
  </head>
  <body> Redirigiendo... </body>
</html>
